<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.edu.ctb.dao.mapper.ExSttMapper" >
    <resultMap id="BaseResultMap" type="com.bw.edu.ctb.dao.entity.ExSttEntity" autoMapping="true" />

    <sql id="Base_Column_List" >
        id,gc,gm,uid,un,rd,dl,tpg,t_kps,mw_kps,a_sc,l_sc,status
    </sql>
    <sql id="BaseProperties" >
        #{id},now(),now(),#{uid},#{un},#{rd},#{dl},#{tpg},#{tKps},#{mwKps},#{aSc},#{lSc},#{status}
    </sql>

    <insert id="save" parameterType="com.bw.edu.ctb.dao.entity.ExSttEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into ex_stt
        (<include refid="Base_Column_List"></include>)
        values
        (<include refid="BaseProperties"></include>)
    </insert>

    <!-- 查询项 -->
    <sql id="query">
        <where>
            <if test="uid != null">uid = #{uid} </if>
            <if test="un != null">and un = #{un} </if>
            <if test="status != null">and status = #{status} </if>
            <if test="sortProperty != null">order by #{sortProperty} #{sortMode}</if>
            <if test="begin != null">limit #{begin}, #{num}</if>
        </where>
    </sql>

    <!-- 仅查询简单的信息 -->
    <select id="selectProfile" parameterType="com.bw.edu.ctb.common.qo.ExSttQO" resultMap="BaseResultMap">
        select un,rd,dl,tpg,mw_kps,a_sc,l_sc
        from ex_stt
        <include refid="query"/>
    </select>

    <!-- selectNewest -->
    <select id="selectByPage" parameterType="com.bw.edu.ctb.common.qo.ExSttQO" resultMap="BaseResultMap">
        select *
        from ex_stt
        <include refid="query"/>
    </select>
</mapper>