<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.edu.ctb.dao.mapper.ExSttByclMapper" >
    <resultMap id="BaseResultMap" type="com.bw.edu.ctb.dao.entity.ExSttByclEntity" autoMapping="true" />

    <sql id="Base_Column_List" >
        id,gc,gm,uid,dg,gd,cl,stt
    </sql>
    <sql id="BaseProperties" >
        #{id},now(),now(),#{uid},#{dg},#{gd},#{cl},#{stt}
    </sql>

    <insert id="save" parameterType="com.bw.edu.ctb.dao.entity.ExSttByclEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into ex_stt_bycl
        (<include refid="Base_Column_List"></include>)
        values
        (<include refid="BaseProperties"></include>)
    </insert>

    <update id="update" parameterType="com.bw.edu.ctb.dao.entity.ExSttByclEntity" >
        update ex_stt_bycl
        set gm=now(),stt=#{stt}
        where id=#{id}
    </update>

    <!-- 查询项 -->
    <sql id="query">
        <where>
            <if test="uid != null">uid = #{uid} </if>
            <if test="dg != null">and dg = #{dg} </if>
            <if test="gd != null">and gd = #{gd} </if>
            <if test="cl != null">and cl = #{cl} </if>
        </where>
    </sql>

    <!-- 仅查询简单的信息 -->
    <select id="selectLatestValidated" parameterType="com.bw.edu.ctb.common.qo.ExSttByclQO" resultMap="BaseResultMap">
        select *
        from ex_stt_bycl
        <include refid="query"/>
    </select>

    <!-- 仅查询简单的信息 -->
    <select id="select" parameterType="com.bw.edu.ctb.common.qo.ExSttByclQO" resultMap="BaseResultMap">
        select *
        from ex_stt_bycl
        <include refid="query"/>
    </select>
</mapper>